.avatar {
  position: relative;
  background-color: #025033;
  color: #ffffff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;

}

.dropdownMenu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  border-radius: 4px;
  z-index: 1000;
  top: 100%;
  right: 50%;
}

.dropdownUser {
  color: #000;
}

.dropdownMenu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 12px;
  min-width: 120px;

  &:hover {
    background-color: #f1f1f1;
  }
}